<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="seguimiento.component.css">
    <title>Detalles de la Venta</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Datos de la Venta</h1>
            <p><strong>Fecha de Venta:</strong> 2023-10-27</p>
            <p><strong>Cliente:</strong> Mauricio Méndez</p>
            <p><strong>Total:</strong> $500.00</p>
            <p>-</p>
            <h1>Datos de la Paquetería</h1>
            <p><strong>Paquetería:</strong> Estafeta</p>
            <p><strong>Número de guía:</strong> ABC123DEF456</p>
            <p><strong>Estado del Envío:</strong> Enviado</p>
            <p>-</p>
            <h1>Datos del Transportista</h1>
            <p><strong>Transportista:</strong> Vicente Dominguez</p>
            <p><strong>Teléfono:</strong> (123) 456-7890</p>
            <p><strong>Placa:</strong> ABC123</p>
        </div>
        <div class="right">
            <a href="http://t.me/soporteClientesArq_bot">
                <div class="telegram-box">
                    <p class="telegram-text">¿Necesitas ayuda?</p>
                    <p class="telegram-text">¿Tienes problemas?</p>
                    <p class="telegram-text">¡Comunicate con nosotros! :)</p>
                    <p class="telegram-text">Presiona:</p>
                    <img src="../../../assets/telegram-logo.png" alt="Telegram Logo">
                    <p>chatea en telegram</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
