<header>
  <div class="container">
    <h1>Carrito</h1>
  </div>
</header>
<section class="padded">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>

        </tr>
      </thead>
    </table>
  </div>
</section>

<div class="floating-box">
  <div class="solicitud-box">
    <h2 class="titulo" style="margin-top: 3%;">Carrito compras</h2>
    <div class="container" style="margin-top: 5%;">
      <table class="table table-info table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carrito">
            <td>{{ car.nombreProducto }}</td>
            <td>{{ car.precio }}</td>
            <td>{{ car.cantidad }}</td>
            <td>{{ car.precio * car.cantidad }}</td>
          </tr>
            <tr *ngFor="let pd of getProductosSeleccionados()">
            <td>{{ pd.nombreProducto }}</td>
            <td>{{ pd.precio }}</td>
            <td>{{ pd.cantidad }}</td>
            <td>{{ pd.precio * pd.cantidad }}</td>
          </tr>          
        </tbody>
      </table>
      </div>
      </div>
      </div>
      <div class="container">
     <button><a routerLink="/pagar-con-stripe">Pagar con Stripe</a>
     </button>
      </div>
      